.wrapper {
    display: grid;
    grid-template-areas: 
    "backgroundImage backgroundImage"
    "avatar description";
    grid-template-rows: auto auto;
    grid-template-columns: 300px 1fr;
}

.avatar {
    grid-area: avatar;
}

.descriprion {
    grid-area: description;
}

.avatar img {
    width: 200px;
}

.backgroundImage img {
    width: 980px;
}

.name {
    font-size: 30px;
}

.contacts {
    margin-top: 20px;
    margin-bottom: 20px;
}