.dialogs {
    display: grid;
    grid-template-areas: "left right";
    grid-template-columns: 1fr 3fr;
}

.dialogsItems {
    grid-area: left;
    border-width: 0px 1px 0px 0px;
    border-style: solid;
}

.messages {
    grid-area: right;
    padding: 10px;
}